/*couleur a utiliser
1) #000407 (black)
2) #79031d (red)
3) #edb518 (yellow)
4) #f5f7f7 (white)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html, body {
    height: 100%;
  }
  
  /* scrollbar */
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  }
  body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #79031d;
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #edb518;
  }
  
  .page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Poppins", sans-serif;
    min-height: 100%;
    display: flex;
    align-items: center;
  }
  
  .page_404 .four_zero_four_bg {
    background: url("../Picture/bg.gif");
    height: 400px;
    background-position: center;
    width: 100%;
  }
  
  .page_404 .text-center {
    font-size: 10vw;
    margin-bottom: 1rem;
    text-decoration: none;
  }

  .text_404{
    color: rgba(0, 0, 0, 0.856);
  }
  
  .page_404 .h2 {
    font-size: 8vw;
  }
  
  .page_404 .bouton {
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    background: #79031d;
    display: inline-block;
    border-radius: 25px;
    margin-top: 2rem;
    
  }
 
  
  .page_404 .content_box_404 {
    margin-top: -50px;
  }
  
  @media (min-width: 768px) {
    .page_404 .text-center {
      font-size: 80px;
    }
  
    .page_404 .h2 {
      font-size: 64px;
    }
  
    .page_404 .bouton {
      padding: 0.75rem 1.5rem;
      
      margin-top: 3rem;
    }
  }