/*couleur a utiliser
1) #000407 (black)
2) #79031d (red)
3) #edb518 (yellow)
4) #f5f7f7 (white)
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }




/* Section Hero */
body {
  height: 100vh;
  background: url("../Picture/backgroud_concert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body{
  display: flex;
  flex-direction: column;
}
.content {
  /* grow shrink basis */
  flex: 1 0 auto;
}

#popup-button {
  background-color: #79031d; /* couleur de fond */
  color: white;
  border-radius: 100px; /* couleur du texte */
  border: none; /* pas de bordure */
  padding: 12px 24px; /* espace intérieur */
  text-align: center; /* alignement du texte */
  text-decoration: none; /* pas de soulignement */
  display: inline-block; /* afficher en ligne */
  font-size: 16px; /* taille de police */
  margin: 4px 2px; /* marges */
  cursor: pointer; /* curseur de souris */
  position: absolute; /* positionnement absolu */
  top: 5px; /* positionné tout en haut de la page */
  left: 50%; /* centré horizontalement */
  transform: translateX(-50%); /* recentre le bouton */
  z-index: 10000000; /* définit la profondeur de l'élément (au-dessus de tous les autres éléments) */
}

#popup-button:hover {
  background-color: #edb518; /* couleur de fond */
  color: white;
  border-radius: 100px; /* couleur du texte */
  transition: background-color 0.5s ease;
  box-shadow: 0 0 20px rgba(237, 181, 24, 0.5); /* effet d'ombre portée renforcé */
  border: none; /* pas de bordure */
  padding: 12px 24px; /* espace intérieur */
  text-align: center; /* alignement du texte */
  text-decoration: none; /* pas de soulignement */
  display: inline-block; /* afficher en ligne */
  font-size: 16px; /* taille de police */
  margin: 4px 2px; /* marges */
  cursor: pointer; /* curseur de souris */
  position: absolute; /* positionnement absolu */
  top: 5px; /* positionné tout en haut de la page */
  left: 50%; /* centré horizontalement */
  transform: translateX(-50%); /* recentre le bouton */
  z-index: 10000000; /* définit la profondeur de l'élément (au-dessus de tous les autres éléments) */
}



footer{
  flex-shrink: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: #edb518;
}

.footer-bottom{
  background: #000407;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.contact-btn {
  display: inline-block;
  background-color: #79031d;
  color: #f5f7f7;
  font-size: 1.2rem;
  padding: 12px 24px;
  margin: 20px 0;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.contact-btn:hover {
  background-color: #edb518;
  transition: background-color 0.5s ease;
  box-shadow: 0 0 20px rgba(237, 181, 24, 0.5);
}


main {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-container {
  position: relative;
  margin: 24px;
  width: 320px;
  height: 570px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.img-container,
.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
}

.body-container {
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(121, 3, 29, 0.5);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}

.event-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.title,
.price {
  color: #79031d;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}

.info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #79031d;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}

.info i {
  color: #79031d;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span a{
  font-weight: bolder;
  text-decoration: none;
  font-size: 17px;

  color: #79031d;
}

.info span a:hover{
  font-weight: bolder;
  color: #edb518;
}

.action {
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}

.infop{
  text-decoration: none;
  color: #fff;
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

