/*couleur a utiliser
1) #000407 (black)
2) #79031d (red)
3) #edb518 (yellow)
4) #f5f7f7 (white)
*/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* Navbar container */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #000407;
}

  body {
    margin: 0;
    padding: 0;
  }
  
  /* Navbar brand */
  .brand img {
      height: 50px;
      width: 130px;
      padding-left: 10px;
  }
  
  
  /* Navbar links */
  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .links a {
    font-size: 18px;
    color: #f5f7f7;
    text-decoration: none;
    padding: 20px;
  }
  
  /* Active link */
  .active {
    background-color: #79031d;
  }

  .toggle {
    color: #f5f7f7;
    display: none;
  }

  @media all and (max-width: 991px) {
    .toggle {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: relative;
      z-index: 20;
      margin-right: 3%;
    }
    .brand {
      position: relative;
      z-index: 20;
    }


    div .ouvrir {
      display: block;
    }

    div .fermer {
      display: none;
    }
    .open .ouvrir {
      display: none;
    }

    .open .fermer {
     display: block;
    }
    .links {
      position: absolute;
      top: 0;
      left: 0;
      width: 40;
      height: 100vh;
      background:#000407;
      flex-direction: column;
      padding: 2rem;
      justify-content: space-around;
      transform: translateX(-100%);
      transition: transform 1.2s;
  }
  
  .active {
    background-color: #79031d;
    border-radius: 25px;
  }
  .links li a {
      font-size: 2rem;
  }

  .btn {
      font-size: 2rem;
  }

  .open .links {
      transform: translateX(0);
  }
}
  