/*couleur a utiliser
1) #000407 (black)
2) #79031d (red)
3) #edb518 (yellow)
4) #f5f7f7 (white)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #f5f7f7;
  }

body {
    padding: 8%;
    text-align: center;
    margin-top: 1%;
    line-height: 30px;
    background-color:#000407;
}
.txtblue {
    font-size: 16px;
    font-weight: 400;
    color: #f5f7f7;
}
.txtwhite {
    font-size: 16px;
    color: #f5f7f7;
}
.titre{
    font-size: 2rem;
    color: #f5f7f7;
    text-decoration: none;
    color: #f5f7f7;
}

.txtyellow {
    font-size: 16px;
    color: #edb518;
}
.imgcenter {width:20%;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  
  }
  .socials a:hover i{
    color: #edb518;
  }