/* Section Hero */
.hero {
  height: 100vh;
  background: url("https://github.com/ikik-ikik/Yttrium/blob/prod/Picture/backound_provi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}