/*couleur a utiliser
1) #000407 (black)
2) #79031d (red)
3) #edb518 (yellow)
4) #f5f7f7 (white)
*/


/* Section Hero */
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background: url('../Picture/backgroud_concert.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -200px auto;

  
}

.wrapper .button{
  
  display: inline-block;
  height: 120px;
  width: 120px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 120px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 400px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 120px;
  width: 120px;
  text-align: center;
  border-radius: 120px;
  box-sizing: border-box;
  line-height: 120px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #C32AA3;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 50px;
  line-height: 120px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 40px;
  font-weight: 1000;
  line-height: 120px;
  margin-left: 20px;
  position: relative;
  top: -3px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(2) span{
  color: #E1306C;
}
.wrapper .button:nth-child(3) span{
  color: #333;
}
.wrapper .button:nth-child(4) span{
  color: #ff0000;
}
  
  /* Styles pour le formulaire de contact */
#contact-form {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f5f7f7;
  background-color: #000407;
  position: absolute; bottom: 0; left: 0; right: 0;
  
}

#contact-form div {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 10px;
  color: #f5f7f7;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #f5f7f7;
}


#contact-form button[type="submit"] {
  width: 100%;
  background-color: #79031d;
  color: #f5f7f7;
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


@media all and (max-width: 826px) {
  .social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:  auto;
  
    
  }
  .wrapper .button{
    width: 240px;
    margin: 20px;
    height: 80px;
    border-radius: 120px;
  } 
  .wrapper .button:hover{
    width: 250px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 80px;
    box-sizing: border-box;
    line-height: 101px;
    position: relative;
    transition: all 0.3s ease-out;
  }
  .wrapper .button .icon i{
    font-size: 45px;
    line-height: 70px;
    transition: all 0.3s ease-out;
  }
  .wrapper .twitter  span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 8px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  .wrapper .insta span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: -8px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }

  .wrapper .tiktok span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 7px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  .wrapper .youtube span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 2px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  #contact-form {
    display: none;
  }

}

@media all and (max-height: 663px) {
  .social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 80px;
    box-sizing: border-box;
    line-height: 101px;
    position: relative;
    transition: all 0.3s ease-out;
  }
  .wrapper .button{
    width: 240px;
    margin: 15px;
    height: 80px;
    border-radius: 120px;
  } 
  .wrapper .button:hover{
    width: 250px;
  }

  .wrapper .button .icon i{
    font-size: 45px;
    line-height: 70px;
    transition: all 0.3s ease-out;
  }
  .wrapper .twitter  span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 8px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  .wrapper .insta span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: -8px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }

  .wrapper .tiktok span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 7px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  .wrapper .youtube span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 2px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  #contact-form {
    display: none;
  }

}
@media all and (max-height: 663px) {
  .social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin-bottom: auto;
  
    
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 80px;
    box-sizing: border-box;
    line-height: 101px;
    position: relative;
    transition: all 0.3s ease-out;
  }
  .wrapper .button{
    width: 240px;
    margin: 15px;
    height: 80px;
    border-radius: 120px;
  } 
  .wrapper .button:hover{
    width: 250px;
  }
  .wrapper .button .icon i{
    font-size: 45px;
    line-height: 70px;
    transition: all 0.3s ease-out;
  }
  .wrapper .twitter  span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 8px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  .wrapper .insta span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: -8px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }

  .wrapper .tiktok span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 7px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  .wrapper .youtube span{
    font-size: 25px;
    font-weight: 1000;
    line-height: 70px;
    margin-left: 2px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -5px;
  }
  #contact-form {
    display: none;
  }

}
  
